<%= stylesheet_link_tag 'application_styles' %>

<nav class="navbar navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/opinions#index">
      <img src="/assets/eat-flat-1.png" alt="fork spoon logo" width="30" height="30">
    </a>
    <ul class="nav justify-content-end">
      <%= check_signed_in %> 
    </ul>
  </div>
</nav>